.messenger {
    height: calc(100vh - 70px);
}

.chatBoxBottom {
    margin-top: 5px;
}

.chatMessageInput {
    width: 80%;
    height: 90px;
    border-radius: 10px;
}

.chatSubmitButton{
    border-radius: 5px;
    cursor: pointer;
    background-color: #f21818a8 ;
}

.chatBoxTop {
    height: 100%;
    padding-right: 10px;
}
